footer {
    //margin-top: 100px;
    background-color: #17A2B8;
    padding: 50px 0 10px 0;
    color: white;
.container{
    .foterElements{
        display: flex;
        justify-content: space-between;
    }
    .copyrightStyle{
        text-align: center;
        margin-top: 2%;
    }
}
    .footer-lang {
      p {
        cursor: pointer;
      }
    }
  
    a {
      color: white;
      display: block;
    }
  
    .footer-email-app-wrapper {
      display: flex;
      margin-bottom: 30px;
  
      .footer-icon {
        background-size: 25px;
        background-repeat: no-repeat;
        padding-left: 35px;
      }
  
      .email {
        // background-image: url("../../icons/mail.svg");
        padding-right: 40px;
      }
  
      .app {
        // background-image: url("../../icons/app.svg");
        background-size: 20px;
        height: 30px;
      }
    }
  
    .footer-social-icons-wrapper {
      display: flex;
  
      div {
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        margin-right: 28px;
  
        &:last-child {
          margin-right: 0;
        }
      }
  
      .fb {
        // background-image: url("../../icons/facebook.svg");
      }
  
      .twitter {
        // background-image: url("../../icons/twitter.svg");
      }
  
      .insta {
        // background-image: url("../../icons/insta.svg");
      }
  
      .youtube {
        // background-image: url("../../icons/youtube.svg");
      }
    }
  }
  @media screen and (max-width: 768px) {
    footer {
      .terms-conditions{
      word-wrap: break-word;
      }
      .footer-languages {
        margin-top: 30px;
      }
      .footer-contact {
        text-align: center;
      }
      .footer-email-app-wrapper {
        display: flex;
        justify-content: center;
      }
      .footer-social-icons-wrapper {
        display: flex;
        justify-content: center;
        div {
          margin-right: 36px;
        }
      }
    }
  }
  